<!DOCTYPE html>
<html>
	<head>
        <link rel="icon" href="static/images/icon.png">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous"></link>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300'
              rel='stylesheet' type='text/css'></link>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js" ></script>
        <link rel="stylesheet" href="static/default.css">
	</head>

<body>

<ul class="topnav" id="myTopnav">
  <li><a href="/"><img src="static/images/logo.png" height="25" width="73" /></a>
  <li><a href="/" >Home</a></li>
  <li><a href="#Project">Project</a></li>
  <li><a href="/about">About</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<header><h1 style="color:#202020;">Meet the team</h1></header>


<div id="wrap_picture">
	<!-- <img src="../static/images/team_photo.jpg" align="center" style='width: 70%; height: 70%'> -->
  <img src='../static/images/team_photo.jpg' width='70%' height='70%' onmouseover="this.src='../static/images/team_photo_crazy.jpg';" onmouseout="this.src='../static/images/team_photo.jpg';" />
</div>

<div id="wrap_people">
    <div id="first_col"> <h3>Tailin Wu</h3>
    <p> Tailin Wu is a fourth-year graduate student at MIT Physics, doing research on quantum computing and artificial intelligence. He is interested in undertanding the various aspects of intelligence, and building intelligent systems that can learn and cooperate with human. If you want to catch him at MIT, the best chance are in the study room, library, board game room playing poker, or the sailing boats on the Charles river. </p> </div>

    <div id="second_col"> <h3>Kehang Han</h3> Kehang is a MIT ChemE PhD candidate in applying high performance computing to energy field. He loves building models and making predictions, enjoys doing self-organzied projects like SRS with friends. After graduation, he wants to become a data scientist to continue his passion. For more details please find me <a href="http://hkh12.scripts.mit.edu">here</a>. </div>

    <div id="third_col"><h3>  Zhilong "Peter" Zhu </h3> 
    <p>Peter is a 4<sup>th</sup> year PhD student at MIT ChemE department and a data science enthusiast. His research centered around partial differential equation and predictive modeling for industrial chemical systems. He is interested in pursuing a career in creating data-driven model for applications drawn from engineering, operation and management. </p>

    <p>
    Peter loves exploring new places and has lived on three continents and visited more than 20 countries. </p> </div>
</div>


</body>
</html>

