#outer {
    background: #eee;
}

#result {
    height: 100px;
    background: white;
    border-radius: 10px;
    border-style: 1px solid rgba(0,0,0,1);
}

.content {
    display: flex;
    padding: 10px;
}

.new-jobs {
    background: rgba(0,0,0,0.05);
    padding: 10px;
    flex-grow: 1;
}

.recent-jobs {
    background: rgba(0,0,0,0.05);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid black;
    width: 30%;
}

.recent-jobs table {
    margin-top: 30px;
}

.recent-jobs table tr{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.recent-jobs table td {
    padding: 5px;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14pt;
}

.recent-jobs table span {
    display: table;
    margin: 0 auto;
}

.btn-primary {
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.btn-primary:hover {
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

header {
    padding-top:0px;
    padding-bottom:10px;
    text-align: center;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 28pt;
}

h2{
    padding-top:30px;
    padding-bottom:0px;
    text-align: center;
    margin: auto;
}

h3{
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22pt;
}
#main_section {
    padding:20px;
    padding-top:35px;
    padding-left: 35px;
    padding-right:35px;
    padding-bottom: 90px
}

footer {
    text-align: center;
    padding: 5px;
}


label{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 15.5pt; 
    text-align: left  
}

th, input, span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14pt;   
}


a:hover {
    text-decoration: none;
}

input {
    font-size: 14pt;
    height:38px;
}

#Summarize {
    width:350px;
    height:40px;
    margin-right:20px;
    font-size: 14pt;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #333333;
    opacity: 0.5;
}
#loader {
    display: block;
    position: relative;
    left: 51%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

/*Navigation Bar */ 
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #202020;*/
    background-image: url("../static/images/gradient_backgrd.jpg");
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;

}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


/* Effect 5: 3d bar bottom */
.la-anim-5 {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 12px;
    background: #ed4e6e;
    -webkit-transform: translate3d(-103%, 0, 0);
    transform: translate3d(-103%, 0, 0);
    pointer-events: none;
}

.la-anim-5::before,
.la-anim-5::after {
    position: absolute;
    content: '';
}

.la-anim-5::before {
    bottom: 100%;
    left: -10%;
    width: 110%;
    height: 6px;
    background: #fb738f;
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.la-anim-5::after {
    top: 0;
    left: 100%;
    width: 6px;
    height: 100%;
    background: #d23d5b;
    -webkit-transform: skew(0,-45deg);
    transform: skew(0,-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.la-anim-5.la-animate {
    bottom: -20px;
    z-index: 100;
    -webkit-transition: -webkit-transform 55s ease-in, bottom 0.0s 55.7s;
    transition: transform 55s ease-in, bottom 0.0s 55.7s;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
/*Home Page CSS END*/


/*ABOUT Page CSS Begin*/
#wrap_picture{
    width: 70%;
    height: 240px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align:center;
}


#wrap_people {
    margin: 20px;
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first_col {
    width: 30%;
    float:left; 
    margin: 10px;
}
#second_col {
    width: 30%;
    float:left; 
    overflow: hidden; 
    margin: 10px;
}
#third_col{
    width: 30%;
    overflow: hidden; 
    margin: 10px;
}

/*ABOUT Page CSS End*/